* {
  margin: 0 auto;
  padding: 0;
  border: 0;
  background: transparent;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  color: #666666;
  font-family: sans-serif;
}

a {
  color: #666;
  text-decoration: none;
}

h3 {
  font-family: 'Slabo 27px', serif;
  font-size: 45px;
  letter-spacing: 10px;
  width: 100%;
  text-align: center;
  color: #fff;
  font-weight: 100;
  margin: 30px 0;
}

.flex-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

#main {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  min-width:  1088px;
  overflow-x: hidden;
}

#container {
  overflow: hidden;
  margin: 0 auto;
}

#header {
  height: 770px;
  background: #b2eced;
  margin-top: 70px;
  position: relative;
}

#menu-topo {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  height: 70px;
  width: 100%;
  background: rgba(111, 218, 219, 0.9);
}

#menu-topo .nav {
  width: 960px;
  height: 100%;
  margin: 0 auto;
}

#menu-topo .nav .nav-ul {
  height: 100%;
  float: left;
  list-style: none;
}

#menu-topo .nav .nav-ul li {
  height: 100%;
  display: inline-block;
}


#menu-topo .nav .nav-ul li a {
  float: left;
  height: 100%;
  padding: 0 10px;
  line-height: 4.5;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
}

#menu-topo .nav .nav-ul li a:hover{
  color: #fff;
  background: rgba(0,0,0,0.1);
}

#face {
  position: absolute;
  right: 0;
  top: 0;
}

#face a{
  display: block;
  width: 70px;
  height: 70px;
  background: #568fcc;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  font-size: 45px;
  font-weight: bold;
}

#logo-nejs {
  display: block;
  width: 650px;
  text-align: center;
  margin: 0 auto;
  z-index: 50;
  position: relative;
}

#logo-nejs .logo{
  float: left;
  width: 100%;
  margin-top: 82px;
}

#logo-nejs span {
  font-family: 'Slabo 27px', serif;
  font-size: 27px;
  margin-top: 54px;
}

#about {
  height: 350px;
  background: #309E8C;
}

#about p {
  display: block;
  margin: 0 auto;  
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  line-height: 24px;
}

#sun {
  position: absolute;
  top: 60px;
  left: 50px;
  width: 150px;
  height: 150px;
  border-radius: 200px;
  background-color: #fff663;
}

#newton-navarro {
  position: absolute;
  top: 353px;
  left: 0;
  height: 195px;
  width: 1117px;
}

#morro-careca {
  position: absolute;
  top: 353px;
  left: 1068px;
  height: 144px;
  width: 642px;
}

#sand {
  position: absolute;
  top: 470px;
  width: 100%;
  height: 145px;
  background-color: #f1d8a0;
}

#clouds {
  position: absolute;
  height:230px;
  width:1296px;
  top:100px;
  background-image: url(../img/nuvens.png);
}

#cloud1 {
  position: absolute;
  top: 70px;
  left: 80px;
  height: 85px; 
  width: 109px;
  background-image: url(../img/nuvem2.png);

}

#wave1 {
  position: absolute;
  top: 700px;
  background-image: url(../img/onda1.png);
  width: 100%;
  height: 70px;
}

#wave2 {
  position: absolute;
  top: 550px;
  background-image: url(../img/onda2.png);
  width: 100%;
  height: 145px;
}

#le {
  position: absolute;
  top: 575px;
  left: 80px;
  height:134px; 
  width: 97px;
}

#wave3 {
  position: absolute;
  top: 625px;
  background-image: url(../img/onda3.png);
  width: 100%;
  height: 145px;
}

#participants {
  height: 390px;
}

#participants-h3 {
  color: #666;
}

#participants .ct-img {
  display: inline-block;
  width: 178px;
  margin: 0 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

#participants .img {
  float: left;
  width: 175px;
  margin: 0 auto;
}

#participants span {
  float: left;
  width: 100%;
  text-align: center;
}

#place {
  background: #3fb29d;
}

#place .center-place {
  margin: 0 auto;
  padding: 10px 0 30px 0;
  text-align: center;
}

#place img, hr, span {
  display: inline-block;
}

#place hr {
  background: #fff;
  margin: 0 10px;
  height: 30px;
  width: 1px;
}

#place span {
  color: #fff;
}

#chronogram {
  background: #4f5e70;
  height: 930px;
}

#chronogram .day {
    margin-top: 30px;
    height: 30px;
    width: 90px;
    background: #fff;
    text-align: center;
    font-size: 25px;
    color: #4f5e70;
    padding-top: 6px;
}

#chronogram .day.two {
  margin-top: 100px;
}

#chronogram .lineP {
  position: absolute;
  margin-top: 177px;
  margin-left: 50%;
  height: 690px;
  width: 0px;  
  border-right-width: 2px;
  border-right-style: dashed;
  border-right-color: #fff;
  z-index: 0;
}

#chronogram .event {
  width: 682px;
  height: 56px;
  margin-top: 10px;
}

#chronogram .event .text{  
  height: 50px;
  width: 203px;
  float: left;
}
#chronogram .event:nth-child(even) .text{  
  float: right;
}

#chronogram .event .text .middle{
  height: 50px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  font-size: 20px;
}

#chronogram .event .hour{
  margin: -13px 0 0;
  width: 50px;
  height: 50px;
  font-size: 15px;
  font-weight: bold;
  line-height: 45px;
  text-align: center; 
  border: 2px solid #70b19d;
  border-radius: 30px;
  background: #fff;
  color: #4f5e70;
  float: left;
}
#chronogram .event:nth-child(even) .hour{  
  float: right;
}

#chronogram .event .line {
  border: none;
  border-top: 2px solid #fff;
  width: 80px;
  margin: 12px 0 0; 
  float: left;
}
#chronogram .event:nth-child(even) .line{  
  float: right;
}

#chronogram .event .point {
  width: 15px;
  height: 15px;
  background: #70b19d;
  border: 3px solid #4f5e70;
  box-shadow: 0 0 0 1px #fff;
  border-radius: 20px;
  margin: 5px 0 0 0;
  float: left;
}
#chronogram .event:nth-child(even) .point{  
  float: right;
}

#sing-up {
  background: #d06c50;
  height: 275px;
}

#sing-up .ctBall {
  float: left;
  width: 100px;
  margin: 0px 30px;
}

#sing-up .ball {
  margin: 10px;
  display: table;
  border-radius: 100px;
  background: #fff;
  color: #4f5e70;
  text-align: center;
  border: 3px solid #d06c50;
  box-shadow: 0 0 0 3px #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

#sing-up .line.one {
  position: absolute;
  left: 384px;
  width: 62px;
  top: 52px;
  border-top-width: 2px;
  border-top-style: dashed;
  border-top-color: #fff;
  transform: rotate(-20deg);
}

#sing-up .line.two {
  position: absolute;
  left: 519px;
  width: 60px;
  top: 40px;
  border-top-width: 2px;
  border-top-style: dashed;
  border-top-color: #fff;
  transform: rotate(15deg);
}

#sing-up .middle {
  display: table-cell;
  vertical-align: middle;
}

#sing-up .sing-center {
  margin: 0 auto;
  width: 520px;
  margin-bottom: 30px;
}

#sponsors {
  height: 200px;
  background: #f5f5f5;
}

#sponsors-h3 {
  color: #666;
}

#sponsors .imgs {
  display: block;
  width: 600px;
  margin: 0 auto;
}

#sponsors .imgs > div {
  width: 150px;
  float: left;
  margin: 0 24px;
}

#sponsors .imgs > div > img {
  width: 100%;
}

#organizers {
  height: 440px;
}

#organizers-h3 {
  color: #666;
}

#organizers-person {

  display: -webkit-flex;
  display: flex;
  align-items: center;
}

#organizers-person .frame {
  position: relative;
  display: inline-block;
  width: 220px;
}

#organizers-person .frame div {
  width: 50%;
}

#organizers-person .frame a {
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 30px;
  background: #455E70;  
  color: #fff;
  padding-top: 3px;
  text-align: center;
  font-weight: bold;
  left: -40px;
}

.scrolloff {
  pointer-events: none;
}